html {
    background-image: linear-gradient(to top, rgb(44, 46, 83) 5%, rgb(14, 14, 14) 20%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
}

textarea {
    resize: none;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    margin: 0;
}

button {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}